.subs-piece-wrapper {
  margin-top: 40px;
  margin-bottom: 30px;
  .description{
    margin: 15px 0 8px;
    line-height: 24px;
  }
  .subs-piece-instance {
    border: 1.5px solid #ededed;
    padding: 12px;
    .wrapper{
      display: flex;
      justify-content: center;
      button{
        margin: 0 15px;
      }
      > form {
        display: flex;
        width: 100%;
        justify-content: center;
        > .ant-row{
          min-width: 300px;
        }
      }
    }
  }
}